<%- include('../components/header') %>
    <header>
        <div class="full-logo">
            <img class="logo" src="../assets/logo.svg" />
            <h3 class="title">Cazadores de Talento</h3>
        </div>
        <nav>
            <ul class="nav__links">

            </ul>
        </nav>
        <a class="home" href="/"><button>Home</button></a>
    </header>

    <div class="title-instruction">
        <h1>Talentos registrados</h1>
    </div>

    <div class="container-card">
        
            <% for(let i = 0; i < talento.length; i++) { %>
                
                <div class="person-card">
                    <h1>ID Talento: <%= talento[i].idTalento %></h1>
                    <h2><%= talento[i].alias %></h2>
                    <p>Ubicacion: <%= talento[i].lugar %></p>
                    <p>Horario: <%= talento[i].horario %></p>
                    <p>Costo: $ <%= talento[i].costos %>.00</p>
                    <p>Habilidad: <%= talento[i].nombre %></p>
                    <p>Descripcion: <%= talento[i].descripcion %></p>
                    <p>Reputacion: <%= talento[i].promedioReputacion %>/5 ⭐️</p>
                </div>
            <% } %>
    </div>
    <div class="container-cita">
        <h1>Solicitar cita</h1>
        <form action="/cita/crearCitaCazadorTalento" method="post" class="form-cita">
            <label for="">Ingresa tu ID de Cazador</label>
            <input type="text" name="idCazador" id="idCazador">
            <label for="">Ingresa el ID de tu proyecto</label>
            <input type="text" name="idProyecto" id="idProyecto">
            <label for="">Ingresa tu ID de Talento</label>
            <input type="text" name="idTalento" id="idTalento">
            <label for="">Ingresa la fecha y hora de la cita</label>
            <input type="datetime-local" name="fechaHora" id="fechaHora">
            <label for="">Ingresa el lugar de la cita</label>
            <input type="text" name="lugar" id="lugar">
            <input class='submit-nice' type="submit" value="Solicitar cita">
        </form>
    </div>
<%- include('../components/footer') %>  
